<div ng-controller="LoginController as LoginCtrl">
Welcome to Login

<p>UserName : <input type="text" ng-model="LoginCtrl.user.uname" placeholder="Enter Username"></p>
<p>Password : <input type="password" ng-model="LoginCtrl.user.upass" placeholder="Enter Password"></p>
<button type="submit" name="submitButton" value="Login" ng-click="LoginCtrl.checkLogin()">Login</button>
</div>
